.panel {
  border: 1px solid var(--blue);
  border-radius: 20px;
}

.panel-header {
  font-size: 24px;
  font-weight: bold;

  border: 1px solid var(--blue);
  border-radius: 20px;

  width: fit-content;

  color: var(--blue);

  padding: 10px 20px;
  margin: 20px;
}
